<div class="card">
    <div class="card-header">
    {{ title }}
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-2">Filter by:</div>
                <div class="col-3"><input type="text"></div>
            </div>
            <div class="row">
                <div class="col-2">Srno</div>   
                <div class="col-5">Product Name</div>    
                <div class="col-5">Price</div>
            </div>
        </div>
    </div>
</div>